@import "reset.css";

a {
    color: #0a0a0a;
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.intro>p {
    padding: 0 5em;
}

.grid-wrapper {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    height: 100%;
    overflow: scroll;
}

.artwork {
    height: 400px;
    background-size: cover;
    background-position: center;
    transition-duration: 1.3s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(0);
    filter: invert(0);
}

.artwork:hover {
    cursor: pointer;
    transition-duration: 1.3s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(5px);
    filter: invert(100%);
}

.artwork-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}